<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>

    <div id="menu">
      <a href="http://www.nytimes.com/" class="pure-menu-heading">NEW YORK TIMES</a>
      <ul>
        <li class="pure-menu-selected"><a href="/">SEARCH</a></li>
        <li><a href="http://www.nytimes.com/best-sellers-books/">BEST SELLERS</a></li>
        <li><a href="https://github.com/BrianGuo/Json_Project">GITHUB REPO</a></li>
      </ul>
    </div>

    <h1>SEARCH FOR A BOOK USING KEYWORDS:</h1>
    <form method="GET">
      <input type="text" name="book" placeholder="Enter the title or a description">
      <input type="submit" name="go" value="GO">
    </form>
  </body>
</html>
