<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <body>

    <div id="menu">
      <ul>
        <li><a href="/"><b>SEARCH</b></a></li>
	<li><a href="http://www.nytimes.com/">NEW YORK TIMES</a></li>
        <li><a href="http://www.nytimes.com/best-sellers-books/">BEST SELLERS</a></li>
        <li><a href="https://github.com/BrianGuo/Json_Project">GITHUB REPO</a></li>
      </ul>
    </div>

    <h1>SEARCH FOR A BOOK USING KEYWORDS:</h1>
    <form action="/results" method="POST">
      <input type="text" name="book" placeholder="Enter the title or a description">
      <input type="text" name="author" placeholder="Enter the name of the author">
      <input type="submit" name="go" value="GO">
    </form>
  </body>
</html>
